@charset "UTF-8";

h3,h4 {
	font-size: 180%;
	letter-spacing: 0.3rem;
	margin-bottom: 100px;
}
h4 {
	text-align: left;
	margin-left: 100px;
}
h5,dd {
	font-size: 130%;
	letter-spacing: 0.3rem;
}
img {
	margin-bottom: 30px;
}
header p img:only-child {
	margin: 0;
}
main {
	text-align: center;
}
/* .main----------------------------------------- */
.main h3 {
	margin-bottom: 30px;
}
.main h3 + p {
	margin-bottom: 60px;
}
.main .price {
	display: inline-block;
	border: 2px solid #382B17;
	padding: 30px 50px;
	letter-spacing: 0.5rem;
}
.main .price span {
	font-size: 120%;
	font-weight: bold;
}
/* .rice----------------------------------------- */
.rice h4 span {
	font-size: 70%;
	font-weight: normal;
	margin-left: 1.5rem;
}
.rice dl {
	width: 60%;
	margin: 0 auto;
	display: flex;
	column-gap: 100px;
}
.rice dl div {
	width: 50%;
}
.rice dl div dd:nth-child(2) {
	color: #fff;
	line-height: 1.5;
	background: #43341B;
	border-radius: 100px;
	margin: 0 30px 30px;
	white-space: nowrap;
}
/* .deli----------------------------------------- */
.deli dl {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
	row-gap: 30px;
	justify-content: center;
}
.deli dl div {
	flex-basis: 26%;
}
/* .soup----------------------------------------- */
.soup dl {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 40px;
	row-gap: 60px;
}
.soup dl div {
	flex-basis: 26%;
}
/* .drink---------------------------------------- */
.drink {
	background: rgb(67, 52, 27, 0.1);
	margin: 0 70px 150px;
	padding: 60px 60px;
}
.drink h5 {
	text-align: left;
	/* border-bottom: 2px solid #382B17;
	padding-bottom: 20px; */
	margin-bottom: 20px;
}
.drink ul {
	display: flex;
	flex-wrap: wrap;
	column-gap: 60px;
	row-gap: 40px;
	/* margin-top: 60px; */
	border-top: 2px solid #382B17;
	padding-top: 60px;
}
.drink ul li {
	font-size: 130%;
	letter-spacing: 0.2rem;
	list-style: none;
}
.drink ul li::before {
	content: "・";
}