@charset "UTF-8";

main {
	text-align: center;
}
main p img {
	margin-bottom: 100px;
}
section {
	margin: 0 100px 110px;
	text-align: left;
}
section h3 {
	font-size: 187.5%;
	margin-bottom: 60px;
}
section dl {
	font-size: 130%;
}
section dl div {
	display: flex;
	border-top: 1px solid #382B17;
	padding: 60px 0;
	line-height: 2;
}
section dl dt {
	width: 30%;
	font-weight: bold;
	letter-spacing: 0.3rem;
}
section dl div:nth-child(2) dt {
	align-self: center;
}
section dl dd {
	width: 70%;
	letter-spacing: 0.2rem;
}
iframe {
	width: 100%;
	margin-top: 30px;
}