@charset "UTF-8";

.concept h2,.news h2 {
	writing-mode: vertical-rl;
	font-size: 317%;
	letter-spacing: 0.5rem;
	margin-left : 100px;
}
.shop h2,.contact h2 {
	font-size: 225%;
	letter-spacing: 0.5rem;
	margin-bottom: 60px;
}
[class*="link"] {
	margin-right: 100px;
}
.link_read {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 60px;
	transition: 0.3s;
}
.link_read:before {
	border-top: 1px solid #43341B;
	content: "";
	width: 134px;
}
.link_read a {
	margin-left: 1rem;
}
.link_read:hover {
	opacity: 0.7;
	text-shadow: 0 0 1px #ccc;
}
/* concept-------------------------------------- */
.concept {
	margin-top: 80px;
}
.concept div {
	display: flex;
}
.concept div p {
	line-height: 3;
	margin: 80px 60px 0;
}
/* menu------------------------------------------ */
.menu {
	text-align: center;
}
.menu dl {
	text-align: left;
	letter-spacing: 0.3rem;
	margin: 20px 182px 30px;
}
.menu dl dt {
	font-size: 180%;
	margin-bottom: 30px;
}
.menu dl dt span {
	font-size: 120%;
	font-weight: bold;
	margin-left: 8.5rem;
}
.menu dl dd {
	font-size: 130%;
}
.link_menu {
	text-align: right;
}
.link_menu a {
	display: inline-block;
	text-align: center;
	border: 1px solid #43341B;
	width: 137px;
	height: 137px;
	line-height: 137px;
	border-radius: 50%;
	transition: 0.3s;
	position: relative;
}
.link_menu a::after {
	content: "";
	position: absolute;
	bottom: 40%;
	left: 16%;
	width: 65%;
	height: 2px;
	background: #43341B;
	transition: 0.3s;
	transform: scale(0,1);
	transform-origin: left top;
}
.link_menu a:hover::after {
	transform: scale(1,1);
}
.menu h2 {
	overflow: hidden;
	width: 836px;
	margin: 0 auto;
	background: #43341B;
}
.menu h2 img {
	transition: 1s;
}
.menu h2 img:hover {
	transform: scale(1.1, 1.1);
	transition: 1s;
	opacity: 0.7;
}
/* news------------------------------------------ */
.news {
	display: flex;
	flex-wrap: wrap;
}
.news h2 {
	width: calc(14% - 100px);
}
.contents {
	width: calc(86% - 160px);
	font-size: 130%;
	letter-spacing: 0.2rem;
	line-height: 2;
	text-align: left;
	margin: 80px 100px 0 60px;
}
.contents dl {
	border-top: 2px solid #43341B;
	padding: 20px 0;
}
.contents dl:last-child {
	border-bottom: 2px solid #43341B;
}
.contents dl span {
	font-weight: bold;
}
.contents dl a {
	transition: 0.3s;
}
.contents dl a:hover {
	opacity: 0.7;
	text-shadow: 0 0 2px #ccc;
}
/* shop------------------------------------------ */
.shop {
	text-align: center;
}
.shop div {
	display: flex;
	margin: 0 80px;
	padding: 120px 80px;
	background: rgb(67, 52, 27, 0.1);
}
.shop div dl {
	margin-left: 50px;
	align-self: center;
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.2em;
}
.shop div dl dt {
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 60px;
}
.shop div dl dd {
	font-size: 120%;
}
.shop div dl dd:nth-child(2) {
	margin-bottom: 60px;
}
.shop div dl dd a {
	text-decoration: underline;
	transition: 0.3s;
}
.shop div dl dd span {
	font-weight: bold;
}
.shop div dl dd a:hover {
	opacity: 0.7;
	text-shadow: 0 0 1px #ccc;
}
/* contact--------------------------------------- */
.contact {
	text-align: center;
}
.contact p {
	margin-top: 60px;
}
.contact p a {
	border: 1px solid #43341B;
	border-radius: 100px;
	padding: 30px 100px;
	font-weight: bold;
	transition: 0.3s;
}
.contact p a:hover {
	color: #F2EEE2;
	background: #43341B;
}